<div class="dash-content">
    <div class="container">
        <form class="form m-2" #myForm>
            <div class="row">
                <div class="column p-2">
                    <div class="form-group">
                        <label for="n1">Nombre Articulo</label>
                        <input type="text" #nombre class="form-control" id="n1" placeholder="Nombre Articulo">
                    </div>
                </div>
                <div class="column p-2">
                    <div class="form-group">
                        <label for="n2">Descripción</label>
                        <input type="text" #descripcion class="form-control" id="n2" placeholder="Descripción">
                    </div>
                </div>
                <div class="column p-2">
                    <div class="form-group">
                        <label for="n3">Precio Compra</label>
                        <input type="number" #precioCompra min="0" class="form-control" id="n3" placeholder="Precio Compra">
                    </div>
                </div>
                <div class="column p-2">
                    <div class="form-group">
                        <label for="n4">Precio Venta</label>
                        <input type="number" #precioVenta min="0" class="form-control" id="n4" placeholder="Precio Venta">
                    </div>
                </div>
                <div class="column p-2">
                    <div class="form-group">
                        <label for="n5">Tipo Producto</label>
                        <select #tipoProducto class="form-control" id="n5">
                            <option value="vaso">Vaso</option>
                            <option value="camiseta">Camiseta</option>
                            <option value="accesorio">Accesorio</option>
                            <option value="comic">Comic</option>
                            <option value="juguete">Juguete</option>
                        </select>
                    </div>
                </div>
                <div class="column p-2">
                    <div class="form-group">
                        <label for="n6">Cantidad</label>
                        <input #cantidad type="number" min="0" class="form-control" id="n6" placeholder="Cantidad">
                    </div>
                </div>
                <div class="column p-2">
                    <div class="form-group">
                        <label for="n7">Alto</label>
                        <input #alto type="number" min="0" class="form-control" id="n7" placeholder="Alto">
                    </div>
                </div>
                <div class="column p-2">
                    <div class="form-group">
                        <label for="n8">Ancho</label>
                        <input #ancho type="number" min="0" class="form-control" id="n8" placeholder="Ancho">
                    </div>
                </div>
                <div class="column p-2">
                    <div class="form-group">
                        <label for="n9">Largo</label>
                        <input #largo type="number" min="0" class="form-control" id="n9" placeholder="Largo">
                    </div>
                </div>

                <div class="column p-2">
                    <div class="form-group">
                        <label for="n10">Estado</label>
                        <select #estado class="form-control" id="n10">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <button type="button" class="btn btn-success" (click)="add(nombre.value ,
                    descripcion.value ,
                    precioCompra.value ,
                    precioVenta.value ,
                    tipoProducto.value ,
                    cantidad.value ,
                    alto.value ,
                    ancho.value ,
                    largo.value ,
                    estado.value )">Registrar nuevo</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Precio Venta</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let producto of prodList; let idx = index">
                <th scope="row">
                    <span (keyup)="changeValue(idx, 'nombre', producto,  $event)" (blur)="updateList(idx, 'nombre', producto, $event)" contenteditable="true">{{producto.nombre}}</span>
                </th>
                <td>
                    <span contenteditable="true" (keyup)="changeValue(idx, 'precioVenta', producto, $event)" (blur)="updateList(idx, 'precioVenta', producto, $event)">{{producto.precioVenta}}</span>
                </td>
                <td>
                    <span contenteditable="true" (keyup)="changeValue(idx, 'cantidad', producto, $event)" (blur)="updateList(idx, 'cantidad', producto, $event)">{{producto.cantidad}}</span>
                </td>
                <td>
                    <span contenteditable="true" (keyup)="changeValue(idx, 'tipoProducto', producto, $event)" (blur)="updateList(idx, 'tipoProducto', producto, $event)">{{producto.tipoProducto}}</span>
                </td>
                <td>
                    <span contenteditable="true" (keyup)="changeValue(idx, 'descripcion', producto, $event)" (blur)="updateList(idx, 'descripcion', producto, $event)">{{producto.descripcion}}</span>
                </td>
                <td>
                    <span class="table-remove">
                    <button type="button" class="btn btn-danger" rounded="true" size="sm" (click)="remove(idx, producto)"><i class="fas fa-trash-alt"></i></button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>