/* You can add global styles to this file, and also import other style files */

body {
    /*background: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.labelCurrentUser {
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

.router-outlet-content {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 767px) {
    .labelCurrentUser {
        position: absolute;
        right: 0;
        top: 15px;
    }
}

.dash-content {
    box-shadow: 0px 0px 4px 0px grey;
    padding: 10px;
    border-radius: 5px;
    background: white;
    margin-left: 315px;
    margin-right: 15px;
    margin-top: 85px;
}