<div class="nav-side-menu">
    <div class="brand">
        <img src="../../../assets/img/LOGOx2.png" class="img-fluid brand-logo" alt="Responsive image">
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                </a>
            </li>

            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Inventatio <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li routerLinkActive="active"><a routerLink="dashboard">Dashboard</a></li>
                <li routerLinkActive="active"><a routerLink="stock">Stock</a></li>
                <li routerLinkActive="active"><a routerLink="administracion">Administracion</a></li>
            </ul>


            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Configuración <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>Perfiles</li>
                <li>Ajustes Generales</li>
            </ul>


            <li (click)="logOut()">
                <a>
                    <i class="fa fa-sign-out-alt fa-lg"></i> Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>
</div>